<div class="container">
    <h1>Tasks finalizadas</h1>
    <div class="badge">
        <button (click)="voltar()" class= "novo-todo mat-elevation-z8" mat-stroked-button color="primary">Voltar</button>
    </div>

    <div class="content" *ngFor="let item of listFinished">
        <mat-card class="mat-elevation-z8">
            <p>Tarefa concluída em: {{ item.deadLine }}</p>
            <mat-card-header>
              <mat-card-title>{{ item.title }}</mat-card-title>
              <mat-card-subtitle> {{ item.description }} </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>